.cajas{
      font-family:verdana;
      font-size:7pt;
      }
.cajasletras{
      font-family:verdana;
      font-size:6.5pt;
      }
.fondo{
       background-color:green;
       color:white;
       }
.FormatoCaja{
       font-family:verdana;
       font-size:9.5pt;
       }